.texte1 {
  padding: 50px;
  color: #aa8e8d;
  text-align: center;
  font-size: 50px;
  font-weight: Bold;
}

.buttonn {
  background-color: #f531a0;
  color: #333b33;
  padding: 20px;
  text-align: center;
  width: 250px;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {
  border-radius: 4px;
}

.position {
  text-align: center;
}

.tasks {
  margin-top: 20px;
  margin-bottom: 20px;
}

.border {
  margin: auto;
  margin-top: 2px;
  border-radius: 4px;
  text-align: left;
  border-style: outset;
  max-width: 700px;
  border: 1rem solid #32a1ce;
  background-color: #aa8e8d;
}
.tex {
  margin-left: 15px;
}

.button2 {
  border-radius: 4px;
  margin-left: 90%;
  margin-top: 0%;
  text-align: center;
  background-color: #cc4750;
}
.button3 {
  margin-left: 86%;
  top: 150px;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  background-color: #8b76e8;
}
